<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include('../partials/head'); %>
    <title>About</title>

  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>About</h1>
        <p>Naruto API that can send you shinobi data.</p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>